mat-nav-list {
    padding: 0;
    a {
        border-bottom: 1px solid #f3f3f3;
        &.active-lesson {
            background: rgba(#ff4081,0.6);
            color: white;
        }
    }
}

mat-sidenav {
    width: 300px;
}

mat-sidenav-container {
    flex: 1 1 auto;
    height: 100%;
  }
  